org.amanzi.neo.loader/amanzi/schemas/Spec1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sitq.com/AMS_IF"
  xmlns:tns="http://www.sitq.com/AMS_IF" elementFormDefault="unqualified">
    <annotation>
    <documentation>
      The Active Measurement System (AMS) delivers measurement data 
      captured during Multiple Probe Tests (MPT).
      This schema describes the interface the measurement 
      data are provided with.

      History:
      
        Version   Date        Author    Changes
        0.01      18.02.2010  lk        initial version
        0.02      05.03.2010  lk        renamed la to locationArea, split la to locationAreaBefore and
                                        locationAreaAfter, add completeGpsData, servingData, neigbourData
        1.00      11.03.2010  kp        released 
        1.01      16.03.2010  lk        ntpq, mptSync, isInconclusive
        1.02      31.03.2010  lk        made some elements optional, removed sendSampleEnd
    </documentation>
  </annotation>

  <attribute name="Version" type="string" fixed="1.02"></attribute>

  <element name="interfaceData" type="tns:InterfaceData"></element>

  <simpleType name="LocationArea">
    <restriction base="int">
      <minInclusive value="0"></minInclusive>
      <maxInclusive value="16383"></maxInclusive>
    </restriction>
  </simpleType>

  <simpleType name="Hexstring">
    <restriction base="hexBinary">
      <minLength value="4"></minLength>
      <maxLength value="248"></maxLength>
    </restriction>
  </simpleType>

  <simpleType name="Timestamp">
    <restriction base="string">
      <pattern value="\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2},\d{3}[\+-]\d{2}:\d{2}">
      </pattern>
    </restriction>
  </simpleType>

  <simpleType name="GpsTime">
    <restriction base="string">
      <pattern value="\d{6}"></pattern>
    </restriction>
  </simpleType>

  <simpleType name="GpsLatitude">
    <restriction base="string">
      <pattern value="\d{4}\.\d\d\d+"></pattern>
    </restriction>
  </simpleType>

  <simpleType name="GpsLongitude">
    <restriction base="string">
      <pattern value="\d{5}\.\d\d\d+"></pattern>
    </restriction>
  </simpleType>

  <simpleType name="GpsSpeed">
    <restriction base="string">
      <pattern value="\d*\.\d+"></pattern>
    </restriction>
  </simpleType>

  <complexType name="ValidGPS_Data">
    <sequence>
      <element name="probeID" type="string"></element>
      <element name="deliveryTime" type="tns:Timestamp"></element>
      <element name="gpsTime" type="tns:GpsTime"></element>
      <element name="latitude" type="tns:GpsLatitude"></element>
      <element name="directionLat">
        <simpleType>
          <restriction base="string">
            <enumeration value="N"></enumeration>
            <enumeration value="S"></enumeration>
          </restriction>
        </simpleType>
      </element>
      <element name="longitude" type="tns:GpsLongitude"></element>
      <element name="directionLon">
        <simpleType>
          <restriction base="string">
            <enumeration value="E"></enumeration>
            <enumeration value="W"></enumeration>
          </restriction>
        </simpleType>
      </element>
      <element name="speed" type="tns:GpsSpeed"></element>
    </sequence>
  </complexType>

  <complexType name="ProbeIDNumberMap">
    <sequence>
      <element name="probeID" type="string"></element>
      <element name="phoneNumber">
        <simpleType>
          <restriction base="string">
            <pattern value="\d{8}"></pattern>
          </restriction>
        </simpleType>
      </element>
      <element name="locationArea" type="tns:LocationArea"
        maxOccurs="1" minOccurs="0">
      </element>
      <element name="frequency" maxOccurs="1" minOccurs="0"
        type="tns:Frequency">
      </element>
    </sequence>
  </complexType>

  <complexType name="Ntpq">
    <sequence>
      <element name="probeID" type="string"></element>
      <element name="ntpqTime" type="tns:Timestamp"></element>
      <element name="offset" type="double" 
        maxOccurs="1" minOccurs="0">
      </element>
      <element name="jitter" type="double"
        maxOccurs="1" minOccurs="0">
      </element>
    </sequence>
  </complexType>
  
  <complexType name="MptSync">
    <sequence>
      <element name="probeID" type="string"></element>
      <element name="mptSyncTime" type="tns:Timestamp"></element>
      <element name="probeList" type="string" maxOccurs="1" minOccurs="0"></element>
      <element name="syncID" type="int"
        maxOccurs="1" minOccurs="0"></element>
      <element name="timeOut" type="int"
        maxOccurs="1" minOccurs="0"></element>
    </sequence>
  </complexType>
  
  <complexType name="CommonTestData">
    <sequence>
      <element name="probeIDNumberMap" type="tns:ProbeIDNumberMap"
        maxOccurs="unbounded" minOccurs="0">
      </element>
      <element name="servingData" type="tns:ServingData" maxOccurs="unbounded"
        minOccurs="0">
      </element>
      <element name="neighborData" type="tns:NeighborData"
        maxOccurs="unbounded" minOccurs="0"></element>
      <element name="ntpq" type="tns:Ntpq" maxOccurs="unbounded"
      	minOccurs="0"></element>
      <element name="mptSync" type="tns:MptSync"
        maxOccurs="unbounded" minOccurs="0"></element>
    </sequence>
  </complexType>

  <simpleType name="ErrorCode">
    <restriction base="int">
      <minInclusive value="0"></minInclusive>
      <maxInclusive value="600"></maxInclusive>
    </restriction>
  </simpleType>

  <complexType name="GroupAttach">
    <sequence>
      <element name="probeID" type="string"></element>
      <element name="groupAttachTime" type="tns:Timestamp"></element>
      <element name="errorCode" type="tns:ErrorCode" maxOccurs="1"
        minOccurs="0">
      </element>
      <element name="attachment" type="tns:Attachment" maxOccurs="26"
        minOccurs="0"></element>
    </sequence>
  </complexType>

  <complexType name="Attachment">
    <sequence>
      <element name="groupType" type="string"></element>
      <element name="gssi" type="string"></element>
    </sequence>
  </complexType>

  <complexType name="PESQ_Result">
    <sequence>
      <element name="sendSampleStart" type="tns:Timestamp"></element>
      <element name="pesq">
        <simpleType>
          <restriction base="double">
            <minInclusive value="-1"></minInclusive>
            <maxInclusive value="4.5"></maxInclusive>
          </restriction>
        </simpleType>
      </element>
      <element name="delay" maxOccurs="1" minOccurs="0">
        <simpleType>
          <restriction base="int">
            <minInclusive value="0"></minInclusive>
            <maxInclusive value="10000"></maxInclusive>
          </restriction>
        </simpleType>
      </element>
    </sequence>
  </complexType>

  <complexType name="IsInconclusive">
    <sequence>
      <element name="errCode">
        <simpleType>
          <restriction base="int">
            <minInclusive value="1"></minInclusive>
            <maxInclusive value="30"></maxInclusive>
          </restriction>
        </simpleType>
      </element>
      <element name="reason" type="string"></element>
    </sequence>
  </complexType>

  <complexType name="Events">
    <choice>
      <element name="itsiAttach" type="tns:ITSI_Attach" maxOccurs="1"
        minOccurs="0"></element>
      <element name="cellResel" type="tns:CellResel" maxOccurs="1"
        minOccurs="0">
      </element>
      <element name="handover" type="tns:Handover" maxOccurs="1"
        minOccurs="0"></element>
      <element name="groupAttach" type="tns:GroupAttach" maxOccurs="1"
        minOccurs="0"></element>
      <element name="toc" type="tns:TOC" maxOccurs="1" minOccurs="0"></element>
      <element name="ttc" type="tns:TTC" maxOccurs="1" minOccurs="0"></element>
      <element name="tpc" type="tns:TPC" maxOccurs="1" minOccurs="0"></element>
      <element name="sendMsg" type="tns:SendMsg" maxOccurs="1"
        minOccurs="0"></element>
      <element name="receiveMsg" type="tns:ReceiveMsg" maxOccurs="1"
        minOccurs="0"></element>
    </choice>
  </complexType>

  <complexType name="ITSI_Attach">
    <sequence>
      <element name="probeID" type="string"></element>
      <element name="itsiAtt_Req" type="tns:Timestamp"></element>
      <element name="itsiAtt_Accept" type="tns:Timestamp"
        maxOccurs="1" minOccurs="0">
      </element>
      <element name="locationAreaBefore" type="tns:LocationArea"
        maxOccurs="1" minOccurs="0">
      </element>
      <element name="locationAreaAfter" type="tns:LocationArea"
        maxOccurs="1" minOccurs="0">
      </element>
      <element name="errorCode" type="tns:ErrorCode" maxOccurs="1"
        minOccurs="0"></element>
      <element name="isInconclusive" type="tns:IsInconclusive" 
        maxOccurs="1" minOccurs="0"></element>
    </sequence>
  </complexType>

  <complexType name="CellResel">
    <sequence>
      <element name="probeID" type="string"></element>
      <element name="cellReselReq" type="tns:Timestamp"></element>
      <element name="cellReselAccept" type="tns:Timestamp"
        maxOccurs="1" minOccurs="0">
      </element>
      <element name="locationAreaBefore" type="tns:LocationArea"
        maxOccurs="1" minOccurs="0">
      </element>
      <element name="locationAreaAfter" type="tns:LocationArea"
        maxOccurs="1" minOccurs="0">
      </element>
      <element name="errorCode" type="tns:ErrorCode" maxOccurs="1"
        minOccurs="0"></element>
      <element name="isInconclusive" type="tns:IsInconclusive" 
        maxOccurs="1" minOccurs="0"></element>
    </sequence>
  </complexType>

  <complexType name="Handover">
    <sequence>
      <element name="probeID" type="string"></element>
      <element name="ho_Req" type="tns:Timestamp"></element>
      <element name="ho_Accept" type="tns:Timestamp" maxOccurs="1"
        minOccurs="0">
      </element>
      <element name="locationAreaBefore" type="tns:LocationArea"
        maxOccurs="1" minOccurs="0">
      </element>
      <element name="locationAreaAfter" type="tns:LocationArea"
        maxOccurs="1" minOccurs="0">
      </element>
      <element name="errorCode" type="tns:ErrorCode" maxOccurs="1"
        minOccurs="0"></element>
      <element name="isInconclusive" type="tns:IsInconclusive" 
        maxOccurs="1" minOccurs="0"></element>
    </sequence>
  </complexType>


  <complexType name="TOC">
    <sequence>
      <element name="probeID" type="string"></element>
      <element name="calledNumber" type="string" maxOccurs="1" minOccurs="0"></element>
      <element name="hook" maxOccurs="1" minOccurs="0">
        <simpleType>
          <restriction base="int">
            <minInclusive value="0"></minInclusive>
            <maxInclusive value="1"></maxInclusive>
          </restriction>
        </simpleType>
      </element>
      <element name="simplex" maxOccurs="1" minOccurs="0">
        <simpleType>
          <restriction base="int">
            <minInclusive value="0"></minInclusive>
            <maxInclusive value="1"></maxInclusive>
          </restriction>
        </simpleType>
      </element>
      <element name="priority" maxOccurs="1" minOccurs="0">
        <simpleType>
          <restriction base="int">
            <minInclusive value="0"></minInclusive>
            <maxInclusive value="15"></maxInclusive>
          </restriction>
        </simpleType>
      </element>
      <element name="configTime" type="tns:Timestamp"></element>
      <element name="setupTime" type="tns:Timestamp" maxOccurs="1" minOccurs="0"></element>
      <element name="connectTime" type="tns:Timestamp" maxOccurs="1"
        minOccurs="0">
      </element>
      <element name="disconnectTime" type="tns:Timestamp"
        maxOccurs="1" minOccurs="0">
      </element>
      <element name="releaseTime" type="tns:Timestamp" maxOccurs="1"
        minOccurs="0">
      </element>
      <element name="causeForTermination" maxOccurs="1" minOccurs="0">
        <simpleType>
          <restriction base="int">
            <maxInclusive value="20"></maxInclusive>
            <minInclusive value="0"></minInclusive>
          </restriction>
        </simpleType>
      </element>
      <element name="errorCode" type="tns:ErrorCode" maxOccurs="1"
        minOccurs="0">
      </element>
      <element name="pesqResult" type="tns:PESQ_Result" maxOccurs="unbounded"
        minOccurs="0"></element>
      <element name="isInconclusive" type="tns:IsInconclusive" 
        maxOccurs="1" minOccurs="0"></element>
    </sequence>
  </complexType>

  <complexType name="TTC">
    <sequence>
      <element name="probeID" type="string"></element>
      <element name="callingNumber" type="string"></element>
      <element name="hook">
        <simpleType>
          <restriction base="int">
            <minInclusive value="0"></minInclusive>
            <maxInclusive value="1"></maxInclusive>
          </restriction>
        </simpleType>
      </element>
      <element name="simplex">
        <simpleType>
          <restriction base="int">
            <minInclusive value="0"></minInclusive>
            <maxInclusive value="1"></maxInclusive>
          </restriction>
        </simpleType>
      </element>
      <element name="indicationTime" type="tns:Timestamp"></element>
      <element name="answerTime" type="tns:Timestamp" maxOccurs="1" minOccurs="0"></element>
      <element name="connectTime" type="tns:Timestamp" maxOccurs="1"
        minOccurs="0">
      </element>
      <element name="disconnectTime" type="tns:Timestamp"
        maxOccurs="1" minOccurs="0">
      </element>
      <element name="releaseTime" type="tns:Timestamp" maxOccurs="1"
        minOccurs="0">
      </element>
      <element name="causeForTermination" maxOccurs="1" minOccurs="0">
        <simpleType>
          <restriction base="int">
            <maxInclusive value="20"></maxInclusive>
            <minInclusive value="0"></minInclusive>
          </restriction>
        </simpleType>
      </element>
      <element name="errorCode" type="tns:ErrorCode" maxOccurs="1"
        minOccurs="0">
      </element>
      <element name="pesqResult" type="tns:PESQ_Result" maxOccurs="unbounded"
        minOccurs="0"></element>
      <element name="isInconclusive" type="tns:IsInconclusive" 
        maxOccurs="1" minOccurs="0"></element>
    </sequence>
  </complexType>

  <complexType name="TPC">
    <sequence>
      <element name="probeID" type="string"></element>
      <element name="setupTime" type="tns:Timestamp"></element>
      <element name="connectTime" type="tns:Timestamp" maxOccurs="1"
        minOccurs="0">
      </element>
      <element name="pdpRequest" type="tns:Timestamp" maxOccurs="1"
        minOccurs="0">
      </element>
      <element name="pdpAccept" type="tns:Timestamp" maxOccurs="1"
        minOccurs="0">
      </element>
      <element name="ftpConnReq" type="tns:Timestamp" maxOccurs="1"
        minOccurs="0">
      </element>
      <element name="ftpConnAccept" type="tns:Timestamp" maxOccurs="1"
        minOccurs="0">
      </element>
      <element name="releaseTime" type="tns:Timestamp" maxOccurs="1"
        minOccurs="0">
      </element>
      <element name="causeForTermination" maxOccurs="1" minOccurs="0">
        <simpleType>
          <restriction base="int">
            <maxInclusive value="20"></maxInclusive>
            <minInclusive value="0"></minInclusive>
          </restriction>
        </simpleType>
      </element>
      <element name="errorCode" type="tns:ErrorCode" maxOccurs="1"
        minOccurs="0">
      </element>
      <element name="pdResult" type="tns:PD_Result" maxOccurs="unbounded"
        minOccurs="0">
      </element>
      <element name="isInconclusive" type="tns:IsInconclusive" 
        maxOccurs="1" minOccurs="0"></element>
    </sequence>
  </complexType>

  <complexType name="PD_Result">
    <sequence>
      <element name="direction">
        <simpleType>
          <restriction base="string">
            <enumeration value="Get"></enumeration>
            <enumeration value="Put"></enumeration>
          </restriction>
        </simpleType>
      </element>
      <element name="size">
        <simpleType>
          <restriction base="int">
            <minInclusive value="1"></minInclusive>
            <maxInclusive value="2147483647"></maxInclusive>
          </restriction>
        </simpleType>
      </element>
      <element name="transmitStart" type="tns:Timestamp"></element>
      <element name="transmitEnd" type="tns:Timestamp" maxOccurs="1"
        minOccurs="0">
      </element>
    </sequence>
  </complexType>

  <complexType name="SendReport">
    <sequence>
      <element name="reportTime" type="tns:Timestamp"></element>
      <element name="status">
        <simpleType>
          <restriction base="int">
            <enumeration value="2"></enumeration>
            <enumeration value="3"></enumeration>
            <enumeration value="8"></enumeration>
            <enumeration value="9"></enumeration>
          </restriction>
        </simpleType>
      </element>
    </sequence>
  </complexType>

  <complexType name="SendMsg">
    <sequence>
      <element name="probeID" type="string"></element>
      <element name="calledNumber" type="string" maxOccurs="1" minOccurs="0"></element>
      <element name="msgType" maxOccurs="1" minOccurs="0">
        <simpleType>
          <restriction base="int">
            <enumeration value="12"></enumeration>
            <enumeration value="13"></enumeration>
          </restriction>
        </simpleType>
      </element>
      <element name="dataLength" maxOccurs="1" minOccurs="0">
        <simpleType>
          <restriction base="int">
            <minExclusive value="4"></minExclusive>
            <maxExclusive value="248"></maxExclusive>
          </restriction>
        </simpleType>
      </element>
      <element name="dataTxt" type="tns:Hexstring" maxOccurs="1" minOccurs="0"></element>
      <element name="sendTime" type="tns:Timestamp" maxOccurs="1" minOccurs="0"></element>
      <element name="msgRef" maxOccurs="1" minOccurs="0">
        <simpleType>
          <restriction base="int">
            <minExclusive value="1"></minExclusive>
            <maxExclusive value="254"></maxExclusive>
          </restriction>
        </simpleType>
      </element>
      <element name="errorCode" type="tns:ErrorCode" maxOccurs="1"
        minOccurs="0">
      </element>
      <element name="sendReport" type="tns:SendReport" maxOccurs="unbounded"
        minOccurs="0">
      </element>
      <element name="isInconclusive" type="tns:IsInconclusive" 
        maxOccurs="1" minOccurs="0"></element>
    </sequence>
  </complexType>

  <complexType name="ReceiveMsg">
    <sequence>
      <element name="probeID" type="string"></element>
      <element name="callingNumber" type="string"></element>
      <element name="msgType">
        <simpleType>
          <restriction base="int">
            <enumeration value="12"></enumeration>
            <enumeration value="13"></enumeration>
          </restriction>
        </simpleType>
      </element>
      <element name="dataLength">
        <simpleType>
          <restriction base="int">
            <minExclusive value="4"></minExclusive>
            <maxExclusive value="248"></maxExclusive>
          </restriction>
        </simpleType>
      </element>
      <element name="dataTxt" type="tns:Hexstring"></element>
      <element name="receiveTime" type="tns:Timestamp"></element>
      <element name="msgRef" maxOccurs="1" minOccurs="0">
        <simpleType>
          <restriction base="int">
            <minExclusive value="1"></minExclusive>
            <maxExclusive value="254"></maxExclusive>
          </restriction>
        </simpleType>
      </element>
      <element name="isInconclusive" type="tns:IsInconclusive" 
        maxOccurs="1" minOccurs="0"></element>
    </sequence>
  </complexType>

  <complexType name="InterfaceData">
    <sequence>
      <element name="commonTestData" type="tns:CommonTestData"></element>
      <element name="events" type="tns:Events" maxOccurs="unbounded"
        minOccurs="0">
      </element>
      <element name="gpsData" type="tns:GPS_Data" maxOccurs="1"
        minOccurs="0">
      </element>
    </sequence>
  </complexType>

  <complexType name="GPS_Data">
    <choice>
      <element name="validGpsDataList" type="tns:ValidGpsDataList"
        maxOccurs="1" minOccurs="0">
      </element>
      <element name="completeGpsDataList" type="tns:CompleteGpsDataList"
        maxOccurs="1" minOccurs="0"></element>
    </choice>
  </complexType>

  <complexType name="ValidGpsDataList">
    <sequence>
      <element name="validGpsData" type="tns:ValidGPS_Data"
        maxOccurs="unbounded" minOccurs="1">
      </element>
    </sequence>
  </complexType>

  <complexType name="CompleteGpsDataList">
    <sequence>
      <element name="completeGpsData" type="tns:CompleteGpsData"
        maxOccurs="unbounded" minOccurs="1"></element>
    </sequence>
  </complexType>

  <complexType name="CompleteGpsData">
    <sequence>
      <element name="probeID" type="string"></element>
      <element name="deliveryTime" type="tns:Timestamp"></element>
      <element name="gpsSentence" type="string"></element>
    </sequence>
  </complexType>

  <complexType name="NeighborDetails">
    <sequence>
      <element name="frequency" type="tns:Frequency"></element>
      <element name="rssi" type="int"></element>
      <element name="c2" type="int"></element>
    </sequence>
  </complexType>

  <simpleType name="Frequency">
    <restriction base="string">
      <pattern value="\d{3}\.\d{4}"></pattern>
    </restriction>
  </simpleType>

  <complexType name="NeighborData">
    <sequence>
      <element name="probeID" type="string"></element>
      <element name="deliveryTime" type="tns:Timestamp"></element>
      <element name="neighborDetails" type="tns:NeighborDetails"
        maxOccurs="31" minOccurs="0"></element>
    </sequence>
  </complexType>

  <complexType name="ServingData">
    <sequence>
      <element name="probeID" type="string"></element>
      <element name="deliveryTime" type="tns:Timestamp"></element>
      <element name="rssi" type="int"></element>
      <element name="locationArea" type="tns:LocationArea"></element>
      <element name="frequency" type="tns:Frequency"></element>
      <element name="c1" type="int"></element>
    </sequence>
  </complexType>

</schema>